@page "/"

<PageTitle>Основная страница</PageTitle>

<h1>Основная страница сайта</h1>

<p>Сайт на ASP.NET Core Blazor</p>

<img src="images/something.jpeg" alt="Здесь должна быть картинка">

<p>Автор - студент ЦИСТбв-51 Нгуен Хыу Ан</p>
